Read README file to understand what this is project about
The static structure is like this: {document_id}/{chunk_id}.[txt|jpg]
Make sure to read database structure and api schemas
Use helper methods from "helpers" folder
Database connection is in "database.py" file. It uses sqlite
Backend will be served at port 8015
Frontend will be served at port 8516
Do not alter Readme file
